# Python bytecode files
*.pyc
__pycache__/

# Virtual Environment
env/
venv/

# Django stuff
db.sqlite3
*.sqlite3
media/
*.log

# Secrets and Environment variables
.env

# VS Code settings
.vscode/

# macOS-specific files
.DS_Store
